
<div class="columns">
    <div class="colum">
        <img src="../../../assets/abanoBlack.png" alt="">
        <p>C,3/3 South Chhyabithy Gazipur, Bangladesh</p>
        <p>Customer Service Hours: <br>M-F 10Am-5PM Closed Weekend & Holidays</p>
        <p>+8801716942391</p>
    </div>
    <div class="colum">
        <h3>DEPARMENTS</h3>
        <ul>
            <li>RADIANCE GLOW SERUM</li>
            <li>AGELESS EYE CREAM</li>
            <li>COVERAGE FOUNDATION</li>
            <li>BEAUTIFUL LIPSTICK</li>
            <li>SHAMPO</li>
            <li>HAIL OIL</li>
        </ul>
    </div>

    <div class="colum">
        <h3>NAVIGATE</h3>
        <ul>
            <li>PRIVACI POLI</li>
            <li>ABOUT US</li>
            <li>SHIPPING/REFUND</li>
            <li>TERM & CONDITIONS</li>
        </ul>
    </div>

    <div class="colum">
        <h3>RESOURSE</h3>
        <ul>
            <li>CONTAC US/FAQ</li>
            <li>SHIPING/REFUND</li>
            <li>BUY ONLINE</li>
        </ul>
    </div>

</div>