<h2>CUSTOMERS REVIEWS</h2>

<div class="reviews">
    <p><span class="material-symbols-outlined vineta">arrow_back_ios</span></p>
    <div class="review">
        <img src="../../assets/comillas.png" alt="">
        <p class="calification">
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
        </p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident architecto asperiores soluta corrupti ducimus rerum iure dicta.</p>
        <button>Read More</button>
        <p class="name"> Nathaniel B</p>
    </div>

    <div class="review">
        <img src="../../assets/comillas.png" alt="">
        <p class="calification">
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
        </p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident architecto asperiores soluta corrupti ducimus rerum iure dicta.</p>
        <button>Read More</button>
        <p class="name"> Randy B</p>
    </div>

    <div class="review">
        <img src="../../assets/comillas.png" alt="">
        <p class="calification">
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
            <span class="material-symbols-outlined">star_rate</span>
        </p>
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident architecto asperiores soluta corrupti ducimus rerum iure dicta.</p>
        <button>Read More</button>
        <p class="name"> Sentry A</p>
        
    </div>
    <p><span class="material-symbols-outlined vineta">arrow_forward_ios</span></p>
</div>