
<h2>BEST SELLING PRODUCTS</h2>

<div class="products">
    <div class="product">
        <img src="../../../assets/pr4.png" alt="">
        <p class="price">$40.00</p>
        <button>ADD TO CAR</button>
    </div>

    <div class="product">
        <img src="../../../assets/pr5.png" alt="">
        <p class="price">$20.00</p>
        <button>ADD TO CAR</button>
    </div>

    <div class="product">
        <img src="../../../assets/pr6.png" alt="">
        <p class="price">$30.00</p>
        <button>ADD TO CAR</button>
    </div>
</div>