/*Menu*/
.menu{
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    
}

.menu a:first-child{
    color: #EB6D9D;
}

.menu a{
    font-family: "oswald",sans-serif;
    padding: 5px 25px;
}




